<!DOCTYPE html>
<html lang="en">
<head>
    <title>Botanny's Essence</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div>><ul>
        <li><a href="index.html">Botannys Essence</a></li>
        <li><a href="./productdetail.html">Nuestras Boxes</a></li>
    </ul></div>
    <div><ul>
            <li><a href="./register.html">Registrate</a></li>
            <li><a href="./login.html">Usuario</a></li>
            <li><a href="./productcart.html"></a></li>
    </ul></div>

    <div>
        <h2>Productos Destacados</h2>
        <img/>
        <img/>
        <img/>
        <img/>
    </div>
    <div>
        <h2>Catalogo</h2>
        <img/>
        <img/>
        <img/>
        <img/>  
    </div>  
</body>
</html>