<!DOCTYPE html>
<html lang="en">
<head>
    <title>Botanny's Essence</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body class="body">
    <ul class="flex">
        <li><a href="/index">| Botannys Essence |</a></li>
        <li><a href="/productdetail">| Nuestras Boxes |</a></li>
    </ul>
    <section>
        <div><img class="logo" src= "/img/logo-28.png" alt=""></div>
    </section>
    <ul class= "flex1">
            <li><a href="/register">| Registrate |</a></li>
            <li><a href="/login">| Usuario |</a></li>
            <li><a href="/productcart">| Carrito |</a></li>
    </ul>
    

    <div class="container">

        <section class="titulo">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2>Productos Destacados</h2>
        </section>
            
        <section class="imagenes">    
            <div class="caja1"><img class="img" src="/img/copa_gin_1.jpg" alt=""></div>
            <div class="caja2"><img class="img" src="/img/copa_gin_3.jpg" alt=""></div>
            <div class="caja3"><img class="img" src="/img/te_7.jpeg" alt=""></div>
            <div class="caja4"><img class="img" src="/img/te_9.jpeg" alt=""></div>
        </section>
    </div>
        <section class="titulo">
            <h2>Catalogo</h2>
        </section>
        <section class="imagenes" >
            <div class="caja1"><img class="img" src="/img/boc_large_cerrada.jpeg" alt=""></div>
            <div class="caja2"><img class="img" src="/img/box_medium.jpeg" alt=""></div>
            <div class="caja3"><img class="img" src="/img/box_samll_cerrada.jpeg" alt=""></div>
            <div class="caja4"><img class="img" src="/img/BOX_tea.jpeg" alt=""></div>
        </section>  
</body>
</html>