<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Iniciar Sesión Bottanys Essence</title>
</head>
<body>
    <header>
        <div><ul class="flex">
            <li><a href="/index">| Botannys Essence |</a></li>
            <li><a href="/productdetail">| Nuestras Boxes |</a></li>
        </ul>
    </div>
    <div class="logo"><img class="logo" src= "/img/logo-28.png" alt="">
    </div>
       <div> <ul class= "flex1">
                <li><a href="/register">| Registrate |</a></li>
                <li><a href="/login">| Usuario |</a></li>
                <li><a href="/productcart">| Carrito |</a></li>
        </ul>
    </div>

    </header>
    <div class="login">
    <h1>Iniciar Sesión</h1>
    <form action="" method="POST">
       
        <div class="email">
        <input type="email" placeholder="Escribe tu email" name="email" id="email" > </div>
        <div class="password">
        <input type="password" placeholder="Escribe tu contraseña" name="password" id="password"></div>
        <div class="otp"><a href="#">¿Olvidaste tu contraseña?</a></div>
        <div class="submit"><input type="submit" value="Iniciar Sesión"></div>
        

    </div>

</body>
</html>