<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productCart.css">
    <title>Carrito</title>
</head>
<body>
    <header>
        <div><ul class="flex">
            <li><a href="/index">| Botannys Essence |</a></li>
            <li><a href="/productdetail">| Nuestras Boxes |</a></li>
        </ul>
    </div>
    <div class="logo"><img class="logo" src= "/img/logo-28.png" alt="">
    </div>
       <div> <ul class= "flex1">
                <li><a href="/register">| Registrate |</a></li>
                <li><a href="/login">| Usuario |</a></li>
                <li><a href="/productcart">| Carrito |</a></li>
        </ul>
    </div>

    </header>
    <h1>Tu Carrito</h1>
    <div class="cart">
        <img src="/img/boc_large_cerrada.jpeg" alt=""><p>Lorem ipsum dolor sit amet.</p><p>$1000</p> <!--Link del producto-->
        <button type="button">-</button><input type="number"><button type="button">+</button>
    </div>
        <h3>Subtotal $1000</h3> 
        <div class="fin"><input type="submit" value="Finalizar Compra"></div>
        <div class="seguir"><input type="submit" value="Seguir Comprando"></div>
</body>
</html>