<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <header>
        <div class="conteiner">
            <header>
                <div><ul class="flex">
                    <li><a href="/">| Botannys Essence |</a></li>
                    <li><a href="/productdetail">| Nuestras Boxes |</a></li>
                </ul>
            </div>
            <div class="logo"><img class="logo" src= "/img/logo-28.png" alt="">
            </div>
               <div> <ul class= "flex1">
                        <li><a href="/register">| Registrate |</a></li>
                        <li><a href="/login">| Usuario |</a></li>
                        <li><a href="/productcart">| Carrito |</a></li>
                </ul>
            </div>
    </header>
     
    <section>
        <h2>Completá tus datos</h2>
        </section>
        <section class="registro">
            <div class="formulariocompleto">
        <form>
            <label for="name"></label>
            <input class="formulario" type="name" id="name" name="name" placeholder="Nombre"><br>
           
            <label for="surname"></label>
            <input class="formulario" type="surname" id="surname" name="surname" placeholder="Apellido"><br>
           
            <label for="email"></label>
            <input class="formulario" type="email" id="email" name="email" placeholder="E-mail"><br>
           
            <label for="password"></label>
            <input class="formulario" type="password" id="password" name="password" placeholder="Contraseña"><br>
           
            <label for="password"></label>
            <input class="formulario" type="password" id="password" name="password" placeholder="Confirmar Contraseña"><br>

            <input class="formulario" type="submit" value="Crear cuenta">


        </form>
            </div>
        </section>
</body>
</html>