*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.principalEdit{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 78vh;
    background-image: url("/images/copa_gin_2.jpg");
    background-position: center;
    background-size: cover;
    
}

.edit-form{
    background-color: rgba(44, 44, 46, 0.5);
    box-sizing: border-box;
    box-shadow: 0 0 10px grey;
    margin: 10px;
    height: 90%;
    width: 45%;
    padding: 20px;
    border-radius: 5px;
    

}

.edit-form h2 {
    font-size: 30px;
}

input{
    
    border: none;
    border-radius: 25px;
    font-size: 16px;
    margin: 5px;
    width: 95%;
    padding: 7px;
    color:#000000
    
}
.name {
    margin-top: 8px;
}

.opciones {
    color: #000000;
    appearance: none;
    padding: 5px;
    margin-left: 10px;
    margin-top: 4px;
}
   
  .opciones option {
      color: #000000;
}
 
  input #file-upload-button {
      color: brown;
      margin-left: 10px;
}

  textarea {
      color: #000000;
      width: 95%;
      height: 60px;
      border-radius: 25px;
      padding: 8px;
      overflow: hidden;
}

.buttonEdit {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.btn:hover{
    background: #fafafa;
    color: #000000;
}

@media(min-width: 320px){
    .edit-form{
        width: 90%;
    }
    input {
        height: 27px;
    }
}

@media(min-width: 768px){
    .edit-form{
        width: 70%;
    }
    input {
        height: 27px;
    }
}

@media(min-width: 1024px){
    .edit-form{
        width: 60%;
    }
    input {
        height: 27px;
    }
}   