@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://use.fontawesome.com/releases/v5.15.1/css/all.css");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Bebas neue';   
    background: linear-gradient(-45deg, #250902, #38040e, #7C0B2B, #0e131f);
    background-size: 400% 400%; 
    color: white;
    
}
.conteiner {
    width: 90%;
    max-width: 1000px;
    height: 100 vh; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: auto;
       
}  


.agregar{
   
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;

    } 

.agregar h2 {
    
    color:white;
    text-align: center;
    padding: 20px;
    font-size: 40px;
}

.agregar form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 0 10px grey;
}

input {
    margin: 30px;
    padding: 5px;
    text-align: center;
}


textarea{
    
    margin: 30px 0;
    width: 100%;
    height: 80px;
    font-size: 15px;
    border-radius: 2px;
}

.btn{
    
    background: transparent;
    border: 2px solid;
    border-radius: 6px;
}

.button:hover {

    background-color: #008CBA;
    color: white;
    cursor: pointer;
    text-align: center;
    
    
    
}

button {
    
    width: 100%;
    height: 33px
}