@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://use.fontawesome.com/releases/v5.15.1/css/all.css");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bebas Neue';
    color: #ffffff;
    background: linear-gradient(-45deg, #250902, #38040e, #7C0B2B, #0e131f);
    background-size: 400% 400%;
    
   
}
header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 20px 0px 20px;
    align-content: center;
    align-items: center;
}
.logo {
    width: 250px;  
}
header nav {
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
    align-items: center;
    justify-content: space-between;   
}
header nav a {
    flex-grow: 1;
    font-size: 20px;
    color: white;
    text-decoration:none;
    padding: 20px;
    display: inline-block;
    border-right: 1px solid white;
    border-left: 1px solid white;
}
header nav a:hover {
    background: white;
    color:rgb(42, 1, 4);
    
}

.flex {
    display: flex;
    list-style-type: none;
    text-align: center;
}
.flex li a {
    font-size: 20px;
    color: white;
    text-decoration:none;
    padding: 20px;
    display: inline-block;
}
.flex li a:hover {
    background: white;
    color:rgb(42, 1, 4);
}
.logo {
    display: flex;
    width: 250px;
    vertical-align: top;
    display: inline-block;
}

.flex1 {
    display: flex;
    list-style-type: none;
    align-content: center;
}

.flex1 li a {
    font-size: 20px;
    color:white;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
.flex1 li a:hover {
    background: white;
    color:rgb(42, 1, 4);
}
.flex3 li a {
    font-size: 20px;
    color: white;
    text-decoration:none;
    padding: 20px;
    display: inline-block;
}
.flex3 li a:hover {
    background: white;
    color:rgb(42, 1, 4);
}

.flex4 {
        display: flex;
        padding: 50px;
        flex-direction: column;
        list-style-type: none;
        align-content: center;

    }
    
    .flex4 li a {
        font-size: 20px;
        color:white;
        text-decoration: none;
        padding: 20px;
        display: inline-block;
    }

.imagenes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    background-color: rgb(53, 6, 8, 0.4) ;
    
}

.containerIndex {
    width: 100%;
    height: 100 vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 230px;
    border-style: double;
    
}
.titulo {
    text-align: center;
    color: rgb(255, 251, 199) ;
}

.degrades {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    
    /*background: linear-gradient(to bottom, rgba(42,1,4,1) 0%, rgba(42,1,4,1) 26%, rgba(0,0,0,1) 55%, rgba(42,1,4,1) 76%, rgba(42,1,4,1) 93%, rgba(42,1,4,1) 100%);
*/
}
.bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 20px 0px 20px;
    justify-content: space-between;
    
}
.linea{
    border-top: 2px inset white;
    width: 100%;
}
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    padding: 0px 20px 0 20px;
    justify-content: space-between;
}
@media(max-width: 900px) {
    /*---HEADER---*/
    header nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        box-shadow: 0 0 10px grey;   
    }
    header nav a {
        width: 100%;
        border-right: none;
        border-left: none;

    }
}
    /*--HEADER--*/