@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://use.fontawesome.com/releases/v5.15.1/css/all.css");


.body {
    font-family: 'Bebas Neue', cursive;
    background-color:rgb(42, 1, 4 );
}

.flex {
    display: flex;
    list-style-type: none;
    flex-direction: row;
}
.flex1 {
    display: flex;
    list-style-type: none;
    flex-direction: row-reverse;
    position: relative;
    top: -34px;

}
.imagenes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    background-color: rgb(53, 6, 8, 0.4) ;
    
}

.container {
    margin: 0;
}

.img {
    width: 230px;
    
}
.titulo {
    text-align: center;
    color: rgb(255, 251, 199) ;
}
.logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    position: absolute ;
    top: -50px;
    width: 400px;
    right: 470px;
}
.degrades {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    
    background: linear-gradient(to bottom, rgba(42,1,4,1) 0%, rgba(42,1,4,1) 26%, rgba(0,0,0,1) 55%, rgba(42,1,4,1) 76%, rgba(42,1,4,1) 93%, rgba(42,1,4,1) 100%);
}