@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://use.fontawesome.com/releases/v5.15.1/css/all.css");


body {
    font-family: 'Bebas Neue';
    color: #ffffff;
    background: linear-gradient(-45deg, #250902, #38040e, #7C0B2B, #0e131f);
    background-size: 400% 400%;
   
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 20px 0px 20px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.flex {
    display: flex;
    list-style-type: none;
    text-align: center;
}
.flex li a {
    font-size: 20px;
    color: white;
    text-decoration:none;
    padding: 20px;
    display: inline-block;
}
.flex li a:hover {
    background: white;
    color:rgb(42, 1, 4);
}
.logo {
    display: flex;
    width: 250px;
    vertical-align: top;
    display: inline-block;
}

.flex1 {
    display: flex;
    list-style-type: none;
    align-content: center;
}

.flex1 li a {
    font-size: 20px;
    color:white;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
.flex1 li a:hover {
    background: white;
    color:rgb(42, 1, 4);
}

.imagenes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    background-color: rgb(53, 6, 8, 0.4) ;
    
}

.container {
    margin: 0;
}

.img {
    width: 230px;
    border-style: double;
    
}
.titulo {
    text-align: center;
    color: rgb(255, 251, 199) ;
}

.degrades {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    
    /*background: linear-gradient(to bottom, rgba(42,1,4,1) 0%, rgba(42,1,4,1) 26%, rgba(0,0,0,1) 55%, rgba(42,1,4,1) 76%, rgba(42,1,4,1) 93%, rgba(42,1,4,1) 100%);
*/
}
.bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 20px 0px 20px;
    justify-content: space-between;
    
}
