@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.1/css/all.css");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Roboto';
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color:#DDF788;
    height: 100 vh;
}
header {
    display: flex;
    width: 100%;
    padding: 20px 150px 20px 150px;
    justify-content: center;

}

.flex {
    display: flex;
    list-style-type: none;
    flex-direction: row;
}
.logo {
    align-items: center;
    width: 100px;
}

.flex1 {
    display: flex;
    list-style-type: none;
    flex-direction: row-reverse;
    position: right;

}

.login{
    position: absolute;
    width: 280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

    .login h1{
        text-align: center;
        padding: 20px;
        font-size: 40px;
        border-bottom: 2px solid black;

    }

    .login form{
        padding: 0 40px;
        box-sizing: border-box;
    }

    input[type="email"]{
        position: relative;
        margin: 30px 0;
        width: 100%;
        height: 25px;
        font-size: 15px;
        border-radius: 2px;
    }
    input[type="password"]{
        position: relative;
        width: 100%;
        height: 25px;
        font-size: 15px;
        border-radius: 2px;
    }
    .otp{
        position: relative;
        font-size: 13px;
    }

    input[type="submit"]{
        margin: 30px 0;
        width: 100%;
        height: 40px;
        font-size: 20px;
        border-radius: 2px;
    }