@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://use.fontawesome.com/releases/v5.15.1/css/all.css");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Bebas neue';   
    background: linear-gradient(-45deg, #250902, #38040e, #7C0B2B, #0e131f);
    background-size: 400% 400%; 
    color: white;
    
}
.conteiner {
    width: 100%;
    height: 100 vh; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}  
/* ----------Acá empieza el header--------------- */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 20px 0px 20px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.flex {
    display: flex;
    list-style-type: none;
    text-align: center;
}
.flex li a {
    font-size: 20px;
    color: white;
    text-decoration:none;
    padding: 20px;
    display: inline-block;
}
.flex li a:hover {
    background: white;
    color:rgb(42, 1, 4);
}
.logo {
    display: flex;
    width: 250px;
    vertical-align: top;
    display: inline-block;
}

.flex1 {
    display: flex;
    list-style-type: none;
    align-content: center;
}

.flex1 li a {
    font-size: 20px;
    color:white;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
.flex1 li a:hover {
    background: white;
    color:rgb(42, 1, 4);
}
/* -------------Acá termina el header--------------*/

.login{
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    } 

    .login h1{
        color:white;
        text-align: center;
        padding: 20px;
        font-size: 40px;
        border-bottom: 2px solid black;

    }

    .login form{
        padding: 0 40px;
        box-sizing: border-box;
    }

    input[type="email"]{
        margin: 30px 0;
        width: 100%;
        height: 32px;
        font-size: 15px;
        border-radius: 2px;
    }
    input[type="password"]{
        width: 100%;
        height: 32px;
        font-size: 15px;
        border-radius: 2px;
    }
    .otp{
        position: relative;
        font-size: 14px;
    }
    .otp a{
        color: white;
    }
    .submit{
        padding: 20px;
    }

    .btn {
        padding: 20px;
        width: 200px;
        height: 60px;
        background: none;
        border: 4px solid;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 16px;
    }

    .btn:hover{
        background: white;
        color: #7C0B2B;
    }