      /* Bebas neue tipografia */
      @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
      @import url("https://use.fontawesome.com/releases/v5.15.1/css/all.css");
      

     

      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
/* ACÃ COMIENZA EL HEADER */

    .body {
        font-family: 'Bebas neue';   
        background: linear-gradient(-45deg, #250902, #38040e, #7C0B2B, #0e131f);
        background-size: 400% 400%; 
        color: white;

}
    .conteiner {
        width: 90%;
        max-width: 1000px;
        height: 100 vh; 
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: auto;
   
    
}  

/* ----------HEADER--------------- */

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 20px 0px 20px;
    align-content: center;
    align-items: center;
}
.logo {
    width: 250px;  
}
header nav {
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
    align-items: center;
    justify-content: space-between;   
}
header nav a {
    flex-grow: 1;
    font-size: 20px;
    color: white;
    text-decoration:none;
    padding: 20px;
    display: inline-block;
    border-right: 1px solid white;
    border-left: 1px solid white;
}
header nav a:hover {
    background: white;
    color:rgb(42, 1, 4);
    
}
/* -------------HEADER--------------*/

    .general {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        min-width: 250px;
        margin-bottom: 0px;
    }

    .titulo{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 35px auto;
        width: 600px;
        height: 40px;
        
    }

    h2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        top: 5px;
        color: rgb(255, 251, 199);
        font-size: 45px;

    }
    
    
    .imagenes{
        
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
            justify-content: space-around;
            left: 70px;
            margin:5px auto;
            width: 740px;
            height: 500px;


        }
    
        .caja1 {
            display: flex;
            flex-wrap: wrap;
            left: 20px;
            top: 20px;
            width: 140px;
            height: 140px;
            background-color: none;
        } 

        .img1 {
            display: flex;
            flex-wrap: wrap;
            width: 140px;
            height: 140px;
            border-style: double;
        }

        .caja2 {
            display: flex;
            flex-wrap: wrap;
            left: 20px;
            top: 180px;
            width: 140px;
            height: 140px; 
        }

        .img2 {
            display: flex;
            flex-wrap: wrap;
            width: 140px;
            height: 140px;
            border-style: double;
        }

        .caja3 {
            display: flex;
            flex-wrap: wrap;
            left: 20px;
            top: 340px;
            width: 140px;
            height: 140px;
                }

        .img3 {
            display: flex;
            flex-wrap: wrap;
            width: 140px;
            height: 140px;
            border-style: double;
        }

        .caja4 {
            display: flex;
            flex-wrap: wrap;
            right:55px;
            top: 20px;
            width: 460px;
            height: 460px; 
        }

        .img4{
            display: flex;
            flex-wrap: wrap;
            width: 460px;
            height: 460px;
            border-style: double;
        }
        .descripcion {
            display: flex;
            flex-wrap: wrap;
            align-self: flex-end;
            justify-content: start;
            right: 70px;
            margin-top:5px;
            width: 360px;
            height: 500px;
            box-shadow: 0 0 10px gray;
            padding: 5px;
        }

        .descripcion > p {
            color: rgb(255, 251, 199);
        }

        .imgdesc {
            display: flex;

        }

        .pagos {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            padding-top: 20px;
            margin: 10px auto;
            color: rgb(255, 251, 199);
        }

        .valor {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            right: 30px;
            top: 20px;
            width: 530px;
            height: 40px;
            
        }

        .precio {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            top: 10px;
        }

        .cuotas {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            right: 30px;
            top: 80px;
            width: 530px;
            height: 40px;
            
        }

        .formaspago {
            display: flex;
            text-align: center;
            top: 10px;
        }

        button {
            width: 192px;
            height: 29px;
            background-color: rgba(50, 34, 192, 0.1);
            color: rgb(255, 251, 199);
            padding-top: 1px;
            display: inline-block;
            }

            .boton {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

    

            .linea{
                border-top: 2px inset white;
                width: 100%;
            }
        
            footer {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 80%;
                padding: 0px 20px 0 20px;
                justify-content: space-between;
                
                
            }
            .flex3 {
                display: flex;
                list-style-type: none;
                align-items: center;
        
            }
            .flex3 li a {
                font-size: 20px;
                color: white;
                text-decoration:none;
                padding: 20px;
                display: inline-block;
            }
            .flex3 li a:hover {
                background: white;
                color:rgb(42, 1, 4);
            }
           
            .flex4 {
                    display: flex;
                    padding: 50px;
                    flex-direction: column;
                    list-style-type: none;
                    align-content: center;
        
                }
                
                .flex4 li a {
                    font-size: 20px;
                    color:white;
                    text-decoration: none;
                    padding: 20px;
                    display: inline-block;
                }

                @media(max-width: 900px) {
                    /*---HEADER---*/
                    header nav {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        box-shadow: 0 0 10px grey;   
                    }
                    header nav a {
                        width: 100%;
                        border-right: none;
                        border-left: none;
                
                    }
                    /*--HEADER--*/
                    .conteiner {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        align-self: center;
                    }
                    .descripcion {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        align-self: center;
                    }
                    .imagenes{
                        display: flex;
                        flex-wrap: wrap;
                    }
                    
                }
            
