@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://use.fontawesome.com/releases/v5.15.1/css/all.css");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Bebas Neu';
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color:#DDF788;
    height: 100 vh;
}
header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    align-items: center;

}

.flex {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: left;
}
.logo {
    align-items: center;
    width: 150px;
    justify-content: center;
}

.flex1 {
    display: flex;
    list-style-type: none;

}
h1{
    text-align: center;
    padding: 20px;
    font-size: 40px;
    border-bottom: 2px solid black;

}
.cart{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cart img{
    height: 100px;
}
.cart button{
    height: 20px;
    width: 20px;
}
.cart input[type="number"]{
    height: 20px;
    width: 50px;
}
h3 {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

input[type="submit"]{
    margin: 30px 0;
    width: 100%;
    height: 40px;
    font-size: 20px;
    border-radius: 2px;
}