@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://use.fontawesome.com/releases/v5.15.1/css/all.css");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Bebas Neue';
    color: #ffffff;
    background: linear-gradient(-45deg, #250902, #38040e, #7C0B2B, #0e131f);
    background-size: 400% 400%;
   
}

.container{
    width: 100%;
    height: 100 vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
/* ----------Acá empieza el header--------------- */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 20px 0px 20px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.flex {
    display: flex;
    list-style-type: none;
    text-align: center;
}
.flex li a {
    font-size: 20px;
    color: white;
    text-decoration:none;
    padding: 20px;
    display: inline-block;
}
.flex li a:hover {
    background: white;
    color:rgb(42, 1, 4);
}
.logo {
    display: flex;
    width: 250px;
    vertical-align: top;
    display: inline-block;
}

.flex1 {
    display: flex;
    list-style-type: none;
    align-content: center;
}

.flex1 li a {
    font-size: 20px;
    color:white;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
.flex1 li a:hover {
    background: white;
    color:rgb(42, 1, 4);
}
/* -------------Acá termina el header--------------*/
h1{
    text-align: center;
    padding: 20px;
    font-size: 40px;

}
.cart{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 40px;
    margin: 10px;
    box-shadow: 0 0 10px grey;
    
}
.cart img{
    height: 140px;
    width: 180px;
    border-radius: 5px;
}
.cart p {
    font-size: 20px;
}
.cart label {
    font-size: 20px;
    
}
.cart input[type="number"]{
    height: 30px;
    width: 50px;
    text-align: center;
    font-size: 16px;
    background: #411025;
    color: white;
    border: 2px solid;
}
h3 {
    font-size: 40px;
    padding: 20px;
    
}

.fin{
    padding: 20px;
}

.btn {
    padding: 20px;
    width: 200px;
    height: 60px;
    background: none;
    box-shadow: 0 0 10px grey;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    text-align: center;

}

.btn:hover{
    background: white;
    color: #7C0B2B;
}

.seguir button{
    padding: 10px 20px;
}