      /* Bebas neue tipografia */
      @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
      @import url("https://use.fontawesome.com/releases/v5.15.1/css/all.css");

      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    .body {
        font-family: 'Bebas neue';   
    color: rgb(255, 251, 199);
    /*background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);*/
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;

}
    .conteiner {
    width: 100%;
    height: 100 vh; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}  

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 20px 0px 20px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.logo {
    display: flex;
    width: 250px;
    vertical-align: top;
    display: inline-block;
}

.flex {
    display: flex;
    list-style-type: none;
    text-align: center;
}
.flex li a {
    font-size: 20px;
    color: white;
    text-decoration:none;
    padding: 20px;
    display: inline-block;
}
.flex li a:hover {
    background: blue;
}

.flex1 {
    display: flex;
    list-style-type: none;
    align-content: center;
}

.flex1 li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
.flex1 li a:hover {
    background: blue;
}

    .titulo{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 35px auto;
        width: 600px;
        height: 40px;
        
    }

    h2 {
        position: relative;
        text-align: center;
        top: 5px;
        color: rgb(255, 251, 199);

    }
    
    
    .imagenes{
        
        display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
            justify-content: space-around;
            left: 70px;
            margin:5px auto;
            width: 740px;
            height: 500px;


        }
    
        .caja1 {
            display: flex;
            flex-wrap: wrap;
            left: 20px;
            top: 20px;
            width: 140px;
            height: 140px;
            background-color: none;
        } 

        .img1 {
            width: 140px;
            height: 140px;
            border-style: double;
        }

        .caja2 {
            display: flex;
            left: 20px;
            top: 180px;
            width: 140px;
            height: 140px; 
        }

        .img2 {
            width: 140px;
            height: 140px;
            border-style: double;
        }

        .caja3 {
            display: flex;
            left: 20px;
            top: 340px;
            width: 140px;
            height: 140px;
                }

        .img3 {
            width: 140px;
            height: 140px;
            border-style: double;
        }

        .caja4 {
            display: flex;
            right:55px;
            top: 20px;
            width: 460px;
            height: 460px; 
        }

        .img4{
            width: 460px;
            height: 460px;
            border-style: double;
        }
        .descripcion {
            display: flex;
            flex-wrap: wrap;
            align-self: flex-end;
            justify-content: start;
            right: 70px;
            margin-top:5px;
            width: 360px;
            height: 500px;
        }

        .descripcion > p {
            color: rgb(255, 251, 199);
        }

        .imgdesc {
            display: flex;

        }

        .pagos {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin: 10px auto;
            justify-content: space-around;
            width: 600px;
            height: 200px;
            color: rgb(255, 251, 199);
        }

        .todoslosdatos {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

        }

        .valor {
            position: relative;
            right: 30px;
            top: 20px;
            width: 530px;
            height: 40px;
            
        }

        .precio {
            position: relative;
        text-align: center;
        top: 10px;
        }

        .cuotas {
            position: relative;
            right: 30px;
            top: 80px;
            width: 530px;
            height: 40px;
            
        }

        .formaspago {
            position: relative;
        text-align: center;
        top: 10px;
        }

        .comprar {
            position: relative;
            right: 30px;
            top: 140px;
            width: 530px;
            height: 40px;
        }

        .boton {
            position: relative;
            width: 530px;
            height: 40px;
            background-color: rgba(50, 34, 192, 0.1);
            color: rgb(255, 251, 199);
            }
            
