@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
    body {
        font-family: 'Bebas neue';
        color: #ffffff;   
        background: linear-gradient(-45deg, #250902, #38040e, #7C0B2B, #0e131f);
        background-size: 400% 400%; 
        color: white;
    }

/* ----------HEADER--------------- */

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 20px 0px 20px;
    align-content: center;
    align-items: center;
}
.logo {
    width: 250px;  
}
header nav {
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
    align-items: center;
    justify-content: space-between;   
}
header nav a {
    flex-grow: 1;
    font-size: 20px;
    color: white;
    text-decoration:none;
    padding: 20px;
    display: inline-block;
    border-right: 1px solid white;
    border-left: 1px solid white;
}
header nav a:hover {
    background: white;
    color:rgb(42, 1, 4);
    
}
/* -------------HEADER--------------*/

.formulariocompleto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    box-shadow: 0 0 10px gray;
}

    h2 {
        display: flex;
        justify-content: center;
        top: 5px;
        color: rgb(255, 251, 199);
        font-size: 45px;
    }

    .formulario {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         border-style: solid;
         margin: 25px auto;

         
    }
    input {
        height: 20px;
        text-align: center;
    }

    .linea{
        border-top: 2px inset white;
        width: 100%;
    }

    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        padding: 0px 20px 0 20px;
        justify-content: space-between;
        
        
    }
    .flex3 {
        display: flex;
        list-style-type: none;
        align-items: center;

    }
    .flex3 li a {
        font-size: 20px;
        color: white;
        text-decoration:none;
        padding: 20px;
        display: inline-block;
    }
    .flex3 li a:hover {
        background: white;
        color:rgb(42, 1, 4);
    }
   
    .flex4 {
            display: flex;
            padding: 50px;
            flex-direction: column;
            list-style-type: none;
            align-content: center;

        }
        
        .flex4 li a {
            font-size: 20px;
            color:white;
            text-decoration: none;
            padding: 20px;
            display: inline-block;
        }