@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
    body {
        font-family: 'Bebas neue';   
    color: rgb(255, 251, 199);
    /*background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);*/
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    }

    /* ----------Acá empieza el header--------------- */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 20px 0px 20px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.flex {
    display: flex;
    list-style-type: none;
    text-align: center;
}
.flex li a {
    font-size: 20px;
    color: rgb(255, 251, 199);
    text-decoration:none;
    padding: 20px;
    display: inline-block;
}
.flex li a:hover {
    background: blue;
}
.logo {
    display: flex;
    width: 250px;
    vertical-align: top;
    display: inline-block;
}

.flex1 {
    display: flex;
    list-style-type: none;
    align-content: center;
}

.flex1 li a {
    font-size: 20px;
    color: rgb(255, 251, 199);
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
.flex1 li a:hover {
    background: blue;
}
/* -------------Acá termina el header--------------*/

.formulariocompleto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

    h2 {
        display: flex;
        justify-content: center;
        top: 5px;
        color: rgb(255, 251, 199);
    }

    .formulario {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         border-style: solid;
         margin: 25px auto;

         
    }
    input {
        height: 20px;
        text-align: center;
    }