@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://use.fontawesome.com/releases/v5.15.1/css/all.css");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Bebas neue';   
    background: linear-gradient(-45deg, #250902, #38040e, #7C0B2B, #0e131f);
    background-size: 400% 400%; 
    color:  #fafafa;
    
}

.container {
    width: 90%;
    max-width: 1000px;
    height: 100 vh; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: auto;  
} 

/* --HEADER-- */

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 20px 0px 20px;
    align-content: center;
    align-items: center;
}
.logo {
    width: 250px;  
}
header nav {
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
    align-items: center;
    justify-content: space-between;   
}
header nav a {
    flex-grow: 1;
    font-size: 20px;
    color:  #fafafa;
    text-decoration:none;
    padding: 20px;
    display: inline-block;
    border-right: 1px solid #fafafa;
    border-left: 1px solid #fafafa;
}
header nav a:hover {
    background: #fafafa;
    color:rgb(42, 1, 4);
    
}

/* --INDEX-- */

.img {
    width: 230px;
    border-style: double;
    
}
.titulo {
    text-align: center;
    color: #fafafa;
}

.degrades {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

/* --LOGIN-- */

.login{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    } 

    .login h1{
        color:#fafafa;
        text-align: center;
        padding: 20px;
        font-size: 40px;

    }

    .login form{
        padding: 0 40px;
        box-sizing: border-box;
        box-shadow: 0 0 10px grey;
    }

    .login input[type="email"]{
        margin: 30px 0;
        width: 100%;
        height: 32px;
        font-size: 15px;
        border-radius: 2px;
    }
    .login input[type="password"]{
        width: 100%;
        height: 32px;
        font-size: 15px;
        border-radius: 2px;
    }
    .otp{
        position: relative;
        font-size: 14px;
    }
    .otp a{
        color: #fafafa;
    }
    .submit{
        padding: 20px;
    }

    .btn {
        padding: 20px;
        width: 200px;
        height: 60px;
        background: none;
        border: 4px solid;
        box-shadow: 0 0 10px grey;
        color: #fafafa;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 16px;
    }

    .btn:hover{
        background: #fafafa;
        color: #7C0B2B;
    }

/* --PRODUCT CART-- */

.carrito {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-bottom: 50px;
    padding-top: 50px;
    align-items: center;
    text-align: center;
    margin: auto;

}

h1{
    text-align: center;
    padding: 20px;
    font-size: 40px;

}
.cart{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 40px;
    margin: 10px;
    box-shadow: 0 0 10px grey;
}
.cart img{
    height: 140px;
    width: 180px;
    border-radius: 5px;
}
.cart p {
    font-size: 20px;
}
.cart label {
    font-size: 20px;
    
}
.cart input[type="number"]{
    height: 30px;
    width: 50px;
    text-align: center;
    font-size: 16px;
    background: #411025;
    color: #fafafa;
    border: 2px solid;
}
h3 {
    font-size: 40px;
    padding: 20px;
    
}

.fin{
    padding: 20px;
}

.btn {
    padding: 20px;
    width: 200px;
    height: 60px;
    background: none;
    box-shadow: 0 0 10px grey;
    color: #fafafa;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.btn:hover{
    background: #fafafa;
    color: #7C0B2B;
}

.seguir button{
    padding: 10px 20px;
}

/* --PRODUCT DEATAIL-- */

.general {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 250px;
    margin-bottom: 0px;
}

.titulo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 35px auto;
    width: 600px;
    height: 40px;
    
}

h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    top: 5px;
    color:#fafafa;
    font-size: 45px;

}


.imagenes{
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        justify-content: space-around;
        left: 70px;
        margin:5px auto;
        width: 740px;
        height: 500px;


    }

    .caja1 {
        display: flex;
        flex-wrap: wrap;
        left: 20px;
        top: 20px;
        width: 140px;
        height: 140px;
        background-color: none;
    } 

    .img1 {
        display: flex;
        flex-wrap: wrap;
        width: 140px;
        height: 140px;
        border-style: double;
    }

    .caja2 {
        display: flex;
        flex-wrap: wrap;
        left: 20px;
        top: 180px;
        width: 140px;
        height: 140px; 
    }

    .img2 {
        display: flex;
        flex-wrap: wrap;
        width: 140px;
        height: 140px;
        border-style: double;
    }

    .caja3 {
        display: flex;
        flex-wrap: wrap;
        left: 20px;
        top: 340px;
        width: 140px;
        height: 140px;
            }

    .img3 {
        display: flex;
        flex-wrap: wrap;
        width: 140px;
        height: 140px;
        border-style: double;
    }

    .caja4 {
        display: flex;
        flex-wrap: wrap;
        right:55px;
        top: 20px;
        width: 460px;
        height: 460px; 
    }

    .img4{
        display: flex;
        flex-wrap: wrap;
        width: 460px;
        height: 460px;
        border-style: double;
    }
    .descripcion {
        display: flex;
        flex-wrap: wrap;
        align-self: flex-end;
        justify-content: start;
        right: 70px;
        margin-top:5px;
        width: 360px;
        height: 500px;
        box-shadow: 0 0 10px gray;
        padding: 5px;
    }

    .descripcion > p {
        color:#fafafa;
    }

    .imgdesc {
        display: flex;

    }

    .pagos {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        padding-top: 20px;
        margin: 10px auto;
        color:#fafafa;
    }

    .valor {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        right: 30px;
        top: 20px;
        width: 530px;
        height: 40px;
        
    }

    .precio {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        top: 10px;
    }

    .cuotas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        right: 30px;
        top: 80px;
        width: 530px;
        height: 40px;
        
    }

    .formaspago {
        display: flex;
        text-align: center;
        top: 10px;
    }

    button {
        width: 192px;
        height: 29px;
        background-color: rgba(50, 34, 192, 0.1);
        color:#fafafa;
        padding-top: 1px;
        display: inline-block;
        }

        .boton {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

/* --REGISTER-- */

.formulariocompleto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px gray;
}

    h2 {
        display: flex;
        justify-content: center;
        top: 5px;
        color:#fafafa;
        font-size: 45px;
    }

    .formulario {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         border-style: solid;
         margin: 25px auto;

         
    }
    input {
        height: 20px;
        text-align: center;
    }


/* --FOOTER-- */

.linea{
    border-top: 2px inset #fafafa;
    width: 80%;
    margin: auto;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    padding: 0px 20px 0 20px;
    justify-content: space-between;
    margin: auto;  
}
.flex3 {
    display: flex;
    list-style-type: none;
    align-items: center;

}
.flex3 li a {
    font-size: 20px;
    color: #fafafa;
    text-decoration:none;
    padding: 20px;
    display: inline-block;
}
.flex3 li a:hover {
    background: #fafafa;
    color:rgb(42, 1, 4);
}

.flex4 {
        display: flex;
        padding: 50px;
        flex-direction: column;
        list-style-type: none;
        align-content: center;

    }
    
    .flex4 li a {
        font-size: 20px;
        color:#fafafa;
        text-decoration: none;
        padding: 20px;
        display: inline-block;
    }



@media(max-width: 940px) {
.container {
    width: 100%;
}
/*---HEADER---*/
header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 0 0 10px grey;   
}
header nav a {
    width: 100%;
    border-right: none;
    border-left: none;

}

/*--LOGIN--*/

.login{
    width: max-content;
}

/*--PRODUCT CART--*/
.cart{
    display: flex;
    flex-direction: column;
}

.cartCantidad {
    padding-top: 20px;
    align-items: center;
}

.cart p {
    padding-top: 20px;
}

/*--PRODUCT DETAIL--*/ 

.conteiner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
}
.descripcion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
}
.imagenes{
    display: flex;
    flex-wrap: wrap;
}

/*--FOOTER--*/

footer{
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}
footer ul {
    align-items: center;
    justify-content: center;
}   
}
@media(max-width: 460px) {
/*--HOME--*/
.degrades {
    justify-content: space-around;
}

}
@media(max-width: 367px) {


/*--FOOTER--*/

footer ul{
    text-align: center;
 }
 
}