@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://use.fontawesome.com/releases/v5.15.1/css/all.css");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bebas neue';
    color:  #fafafa;
}


/*.container {
    width: 90%;
    max-width: 1000px;
    height: 100 vh; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: auto;  
} 

/* --HEADER-- */

header {
    width: 100%;
    height: 8vh;
    align-content: center;
    align-items: center;
}

header nav {
    width: 100%;
    height: 8vh;
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
    align-items: center;
    justify-content: space-between;   
}
header nav a {
    flex-grow: 1;
    font-size: 20px;
    color:  #fafafa;
    text-decoration:none;
    display: inline-block;
    border-right: 1px solid #fafafa;
}
header nav a:hover {
    background: #fafafa;
    color:rgb(42, 1, 4);
    
}

/* --INDEX-- */
.principal {
    
    height: 78vh;
    background-image: url("/images/copa_gin_1.jpg");
    background-position: center;
    background-size: cover;
  
}

.logo {
    width: 300px;
    margin: auto;
    
}

.imglogo {
    width: 300px;
    margin-top: 20px;
}

.barraprincipal {
    margin-top: 40px;
    width: 100%;
    padding: 15px 0;
    background-color: rgba(44, 44, 46, 0.6);
    font-size: 65px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    
}

@media (max-width: 320px){
    .imglogo {
        width: 200px;
    }
    .barraprincipal {
        font-size: 40px;
        
    }
    footer {
        padding: 0px 0px 0px 0px;
    }

    

    footer a {
        font-size: 10px;
    }

    .flex3 li a {
        padding: 0px 0px 0px 0px;
    }
    

}

/* --LOGIN-- */
.principallogin {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    height: 78vh;
    background-image: url("/images/te_4.jpeg");
    background-position: center;
    background-size: cover;
}


.login{
    width: 40%;
    background-color: rgba(44, 44, 46, 0.6);
    display: inline-block;
    flex-direction: column;
    justify-content: left;
    border-radius: 10px;
    } 


    .login form{
        margin-top: 10px;
        padding: 20px 60px;
        box-sizing: border-box;
        box-shadow: 0 0 10px grey;
        border-radius: 10px;
    }

    .login input{
        margin: 30px 0;
        width: 100%;
        height: 32px;
        font-size: 15px;
        border-radius: 2px;
    }
    
    .otp{
        position: relative;
        font-size: 14px;
    }
    .otp a{
        color: #fafafa;
    }

    .buttonlogin {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .btn {
        margin-top: 17px;
        padding: 5px;
        width: 150px;
        background: none;
        border: 4px solid;
        box-shadow: 0 0 10px grey;
        color: #fafafa;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 16px;
    }

    .btn:hover{
        background: #fafafa;
        color: #000000;
    }
    .imglogin {
        display: inline-block;
    }
    .imglogin img {
        width: 466px;
        
    }

/* --PRODUCT CART-- */
.containerCart {
    width: 100%;
    height: 78vh;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 20px;
    background-image: url("/images/copa_gin_2.jpg");
    background-position: center;
    background-size: cover;
}

.containerProductAdd{
    width: 75%;
    display: inline-block;
}

.productCart{
    box-shadow: 0 0 10px grey;
    border-radius: 10px;
    background-color: rgba(44, 44, 46, 0.6);
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 20px;
    justify-content: space-around;


}
.cartImg{
    display: inline-block;
    width: 30%;
}

.cartImg img{
    height: 120px;
    width: 120px;
    border-radius: 5px;
}

.productCartDetail{
    width: 65%;
}
.bill{
    width: 20%;
    display: inline-block;
}

.billCart{
    height: 90%;
    box-shadow: 0 0 10px grey;
    border-radius: 10px;
    background-color: rgba(44, 44, 46, 0.6);

}







/* --PRODUCT DEATAIL-- */

.principaldetalle {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    height: 78vh;
    background-image: url("/images/copa_gin_4.jpg");
    background-position: center;
    background-size: cover;
       
}

.detalleproducto {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 70%;
        height: 95%;
        padding: 30px;
        box-shadow: 0 0 10px grey;
        border-radius: 10px;
        background-color: rgba(44, 44, 46, 0.6);
}

.cajaizquierda {
    width: 40%;
}

.cajaizquierda h2 {
    text-align: center;

}

.imgdetalle {
    padding: 18px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}


.imgdetalle img {
    width: 200px;
    
}



.cajaderecha {
    width: 50%;
    padding: 10px 20px;
}

.cajaderecha h2 {
    display: flex;
    flex-wrap: nowrap;
    font-size: 47px;
    margin-bottom: 20px;
}

.valor p {
    font-size: 40px;
    text-align: center;
}

.buttonagregarcarrito {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-self: flex-end;
}

/* --REGISTER-- */

.principalregister {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    height: 78vh;
    background-image: url("/images/copa_gin_2.jpg");
    background-position: center;
    background-size: cover;
}
.imgregister {
    display: inline-block;
}
.imgregister img {
    width: 466px;
    
}

.register{
    width: 40%;
    background-color: rgba(44, 44, 46, 0.6);
    display: inline-block;
    flex-direction: column;
    justify-content: left;
    border-radius: 10px;
    } 

    .register form{
        margin-top: 10px;
        padding: 20px 60px;
        box-sizing: border-box;
        box-shadow: 0 0 10px grey;
        border-radius: 10px;
    }

    .register input{
        margin: 5px 0;
        width: 100%;
        height: 32px;
        font-size: 15px;
        border-radius: 2px;
    }
    

    .buttonregister {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .btn {
        margin-top: 17px;
        padding: 5px;
        width: 150px;
        background: none;
        border: 4px solid;
        box-shadow: 0 0 10px grey;
        color: #fafafa;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 16px;
    }

    .btn:hover{
        background: #fafafa;
        color: #000000;
    }


    

/* --PERFIL-- */

.containerProfile{
    width: 100%;
    height: 78vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("/images/copa_gin_2.jpg");
    background-position: center;
    background-size: cover;
}

.perfil{
    background-color: rgba(44, 44, 46, 0.6);
    margin-top: 10px;
    padding: 20px 60px;
    box-sizing: border-box;
    box-shadow: 0 0 10px grey;
    border-radius: 10px;
    width: 30%;
    height: 95%;
}
.perfil h2{
    text-align: center;
}

.fotoPerfil{
    display: flex;
    justify-content: center;
}
.fotoPerfil img{
    width:160px;
    height:160px;
    border-radius:150px;
}
.imgPerfil img {
    width: 466px;    
}




.perfil input{
    margin: 5px 0;
    width: 100%;
    height: 32px;
    font-size: 15px;
    border-radius: 2px;
}

.formulario {
    color:rgb(42, 1, 4);
}

.submit {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.btn {
    margin-top: 17px;
    padding: 5px;
    width: 150px;
    background: none;
    border: 4px solid;
    box-shadow: 0 0 10px grey;
    color: #fafafa;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover{
    background: #fafafa;
    color: #000000;
}


/* --FOOTER-- */
footer {
    height: 14vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    padding: 7px 60px 0 60px;
    justify-content: space-between;
    margin: auto;  
}
.flex3 {
    display: flex;
    list-style-type: none;
    align-items: center;

}
.flex3 li a {
    font-size: 20px;
    color: #fafafa;
    text-decoration:none;
    padding: 20px;
    display: inline-block;
}
.flex3 li a:hover {
    background: #fafafa;
    color:rgb(42, 1, 4);
}


.flex4 {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        align-content: center;

    }
    
    .flex4 li a {
        font-size: 20px;
        color:#fafafa;
        text-decoration: none;
        padding: 20px;
        display: inline-block;
    }



