<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: "Sobre Nosotros"}) %>
<body>
    <%- include('partials/header') %>
    
    <div class="container">

        <div class="aboutContainer">

            <div class="descriptionUs">      

                <h1> Hola! Somos Botanny's Essence </h1>

       
                <p> Ofrecemos productos artesanales de la mas alta calidad para aquellos amantes de la cocteleria, </p>
                <p> a quienes invitamos a descubrir un mundo de especias, botanicos y citricos que pondran a prueba todos sus sentidos </p>

            </div>  

        </div>
    </div>
   
    
</body>
<%- include('partials/footer') %>
</html>