<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: "Sobre Nosotros"}) %>
<body>
    <%- include('partials/header') %>
    
    <div class="container">

        <div class="aboutContainer">

            <div class="descriptionUs">      

                <h1> Hola! Somos Botanny's Essence </h1>

       
                <p> Te invitamos a incursionar en el mundo de la cocteleria,</p>
                <p> nosotros te ayudamos, tenemos boxes de botánicos y especias para tu <strong>GIN & TONIC</strong></p>
                <p> Y además tenemos, boxes de tés importados</p>

            </div>  

        </div>
    </div>
   
    
</body>
<%- include('partials/footer') %>
</html>