<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/create.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Agregar</title>
</head>
<body>
     
    <main>
        <%- include('partials/header') %>
<div class="principalCreate">

    <div class="create-form">
        <h2>Agregar un producto</h2>
        <% if(typeof errors != 'undefined') { %>
            <p style="color: red">ERROR</p>
            <ul>
                <% for(let i = 0; i < errors.length; i++) { %>
                    <li style="color: red;">
                        <%= errors[i].msg %>
                    </li>     
                    
                    <% } %>
            </ul>
        
            <% } %>
        <form id="formCreate" action="" method="POST" enctype="multipart/form-data">
           

            <div class="name">
                    <input type="name" placeholder="Nombre del Producto" name="name" id="name"> 
                    <small id="errorName"></small>
            </div>
      
    
            <div class="Tama침o">
                <input type="text" placeholder="Tama침o" name="size" id="size">
                <small id="errorSize"></small>

            </div>

            <div class="precio">
                <input type="number" placeholder="Precio" name="price" id="price">
                <small id="errorPrice"></small>

            </div>

            <div class="categoria">
                
                <select class="opciones" name="category" id="category">
                    <option selected disabled>-- Seleccione una opci칩n --</option>
                    <option>Tea</option>
                    <option>Gin</option>    
                  </select>
                  <small id="errorCategory"></small>

            </div>

            <div class="imagen">
                <input class= 'image' type="file" placeholder="Agregar imagen" name="image" id="image">
                <small id="errorImage"></small>

            </div>

            <div class="descripcion">
                    <textarea id="description" name="description" minlength="20" maxlength="2000" placeholder="Descripci칩n del producto">

                    </textarea>
                    <small id="errorDescription"></small>

            </div>
            <div class="buttonCreate">
                <button id="botonCreate" class="btn" type="submit">Agregar</button>
                <small id="errorButton"></small>

            </div>
            
        </form>
    </div>
</div>
    </main>
    <%- include('partials/footer') %>
    <script src="/js/createFront.js"></script>
</body>
</html>
