<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/edit.css">
    <title>Editar</title>
</head>
<body>
    <div class="conteiner">

    <div class="agregar">
        <h2>Editar un producto</h2>

        <form action="" method="POST">
           
          <div class="imagen">
                <input class= 'file'   type="file" placeholder="Agregar imagen" name="file" id="file"></div>


          <div class="name">
                    <input type="name" placeholder="Nombre del Producto" name="name" id="name"></div>
      
            <div class="categoria">
                <input type="category" placeholder="Categoría" name="category" id="category"></div>
    
            <div class="Tamaño">
                <input type="hidden" placeholder="Tamaño" name="hidden" id="hidden"></div>

            <div class="precio">
                <input type="number" placeholder="Precio" name="number" id="number"></div>

            <div class="descripcion">
                    <textarea name="description" minlength="20" maxlength="2000" placeholder="Descripción del producto"></textarea>

            <div class="btn">
                <button class="button" type="submit">Editar</button>
            </div>
            
            
            </div>
        </form>
    </div>
    </div>

</body>
</html>
