<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: "Editar producto"}) %>
<link rel="stylesheet" href="/css/edit.css">

<body>
    <main>
        <%- include('partials/header') %> 

        <div class="principal">
            
            <div class="edit-form"> 
                <h4 class="principal-container-right-title">Editar producto</h4>

                <form action="/productos" method="PUT" enctype="multipart/form-data" >
                <ul>
                    <li>
                    <label for="name">Nombre: <br></label>
                    <input type="text" id="name" name="nombre">
                    </li>

                    <li>
                    <label for="text">Descripcion: <br></label>
                    <input type="textarea" id="Description" name="Description">
                    </li>

                    <li>
                    <label for="imagen">Imagen: <br></label>
                    <input type="file" id="imagen" name="upload file" class="subir-imagen">
                    </li>

                    <li>
                    <label for="categoria">Categoria: <br></label>
                    <select name="categoria" id="categoria" class="selector-categorias">
                        <option value="">Promociones</option>
                        <option value="">Cervezas</option>
                        <option value="">Vinos</option>
                        <option value="">Espumantes</option>
                        <option value="">Aperitivos</option>
                        <option value="">Espirituosas</option>
                    </select>
                    </li>

                    <li>
                    <label for="brand">Marca: <br></label>
                    <input type="text" id="brand" name="brand">
                    </li>
                    
                    <li>
                    <label for="price">Precio: <br></label>
                    <input type="number" id="price" name="price" min="1.0" max="100000.00">
                    </li>

                    <li>
                    <input type="submit" value="Editar producto" class="crear-producto-input">    
                    </li>

    

                </ul>




                </form>
            </div>    


        </div>


          
        <%- include('partials/footer') %>
    </main>
</body>