<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/edit.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Editar</title>
</head>
<body>
     
    <main>
        <%- include('partials/header') %>
<div class="principalEdit">

    <div class="edit-form">
        <h2>Editar un producto</h2>

        <form action="" method="POST" enctype="multipart/form-data">
           

            <div class="name">
                    <input type="name" placeholder="Nombre del Producto" name="name" id="name">      
            </div>
      
    
            <div class="Tama침o">
                <input type="text" placeholder="Tama침o" name="size" id="size">
            </div>

            <div class="precio">
                <input type="number" placeholder="Precio" name="price" id="price">
            </div>

            <div class="categoria">
                
                <select class="opciones">
                    <option selected disabled>-- Seleccione una opci칩n --</option>
                    <option>Tea</option>
                    <option>Gin</option>    
                  </select>
            </div>

            <div class="imagen">
                <input class= 'image' type="file" placeholder="Editar imagen" name="image" id="image">
            </div>

            <div class="descripcion">
                    <textarea id="description" name="description" minlength="20" maxlength="2000" placeholder="Descripci칩n del producto">

                    </textarea>
            </div>
            <div class="buttonEdit">
                
                <button class="btn" type="submit">Editar</button>

                <button class="btn" type="submit">Eliminar</button>
            </div>
            
        </form>
    </div>
</div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>