<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: "Botannys Essence"}) %>
<body>
    <div class="container">
    
    <%- include('partials/header') %>

        <section class="titulo">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2>Productos Destacados</h2>
        </section>
        <br>
        <br>
            
        <section class="degrades">    
            <div class="cajaUno"><img class="img" src="/img/copa_gin_1.jpg" alt=""></div>
            <div class="cajaDos"><img class="img" src="/img/copa_gin_3.jpg" alt=""></div>
            <div class="cajaTres"><img class="img" src="/img/te_7.jpeg" alt=""></div>
            <div class="cajaCuatro"><img class="img" src="/img/te_9.jpeg" alt=""></div>
        </section>
    
    <br>
            <br>
            <br>
        <section class="titulo">
            <h2>Catalogo</h2>
        </section>
        <br>
        <br>
        <section class="degrades" >
            <div class="cajaUno"><img class="img" src="/img/boc_large_cerrada.jpeg" alt=""></div>
            <div class="cajaDos"><img class="img" src="/img/box_medium.jpeg" alt=""></div>
            <div class="cajaTres"><img class="img" src="/img/box_samll_cerrada.jpeg" alt=""></div>
            <div class="cajaCuatro"><img class="img" src="/img/box_tea.jpeg" alt=""></div>
        </section>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <%- include('partials/footer') %>
    </div>
</body>


</html>