<!DOCTYPE html>
<html lang="en">
<head>
    <title>Botanny's Essence</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="conteiner">
    
        <header>
            <div class="logo"><img class="logo" src= "/img/logo-28.png" alt="">
            </div>
            <nav>
                <a href="/"> Botannys Essence </a>
                <a href="/productdetail"> Nuestras Boxes </a>
                <a href="/register"> Registrate </a>
                <a href="/login"> Usuario </a>
                <a href="/productcart"> Carrito </a>
             </nav>
    </header>

    <div class="container">

        <section class="titulo">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2>Productos Destacados</h2>
        </section>
        <br>
        <br>
            
        <section class="degrades">    
            <div class="caja1"><img class="img" src="/img/copa_gin_1.jpg" alt=""></div>
            <div class="caja2"><img class="img" src="/img/copa_gin_3.jpg" alt=""></div>
            <div class="caja3"><img class="img" src="/img/te_7.jpeg" alt=""></div>
            <div class="caja4"><img class="img" src="/img/te_9.jpeg" alt=""></div>
        </section>
    </div>
    <br>
            <br>
            <br>
        <section class="titulo">
            <h2>Catalogo</h2>
        </section>
        <br>
        <br>
        <section class="degrades" >
            <div class="caja1"><img class="img" src="/img/boc_large_cerrada.jpeg" alt=""></div>
            <div class="caja2"><img class="img" src="/img/box_medium.jpeg" alt=""></div>
            <div class="caja3"><img class="img" src="/img/box_samll_cerrada.jpeg" alt=""></div>
            <div class="caja4"><img class="img" src="/img/BOX_tea.jpeg" alt=""></div>
        </section>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

        
            <div class="linea"></div>
    
            <footer>
            <ul class="flex3">
                <li><a href="https://www.instagram.com/botannys_essence/" target="_blank"><i class="fab fa-instagram"></i>  @Botanny's essence </a></li>
            </ul>
            <ul class="flex4">
                <li>| Contacto: +5492615092047 |</li>
                <li> | Contacto: +5492613688713 |</li>
                <li> | Email: botannysessence@outlook.com |</li>
        
            </ul>
            </div>
            </footer>    
</body>


</html>