<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: "Botannys Essence"}) %>
<body>
    <%- include('partials/header') %>
    
    <div class="principal">
    <div class="logo">
        <a href="/">
            <img class="imglogo" src="/images/logo-28.png" alt="">
            </a>
    </div>

    <nav class="barraprincipal">
        <a href="/aboutUs">Quienes somos</a>  
        <a href="/productos/catalogo">Nuestras Boxes</a>     
     </nav>
     
     
            
    </div>
    <%- include('partials/footer') %>
</body>


</html>