<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: "Iniciar Sesión"}) %>
<body>
    <%- include('partials/header') %>  
    <div class="principallogin">
    
        <div class="login">
            <h2>Iniciar Sesión</h2>
    
            <form action="" method="POST">
        
             <div class="email">
             <label for="email"></label>
             <input class="formulario" type="email" placeholder="Escribe tu email" name="email" id="email" > </div>
             <div class="password">
             <label for="password"></label>
             <input class= "formulario" type="password" placeholder="Escribe tu contraseña" name="password" id="password"></div>
             <div class="otp"><a href="#">¿Olvidaste tu contraseña?</a></div>
             <div class="buttonlogin"><button class="btn" type="submit">Iniciar Sesión</button></div>
            </form>     

        </div>
        <div class="imglogin">
            <a href="/">
            <img src="/images/logo-28.png" alt="">
            </a>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>