<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: "Iniciar Sesión"}) %>
<body>
    <div class="container">
    
        <%- include('partials/header') %>  

    <div class="login">
    <h1>Iniciar Sesión</h1>
    
    <form action="" method="POST">
        
        <label for="email"></label>
        <div class="email">
        <input type="email" placeholder="Escribe tu email" name="email" id="email" > </div>
        <label for="password"></label>
        <div class="password">
        <input type="password" placeholder="Escribe tu contraseña" name="password" id="password"></div>
        <div class="otp"><a href="#">¿Olvidaste tu contraseña?</a></div>
        <div class="submit"><button class="btn" type="button">Iniciar Sesión</button></div>
        

    </div>
    <%- include('partials/footer') %>
</body>
</html>