<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Iniciar Sesión Bottanys Essence</title>
</head>
<body>
    <div class="conteiner">
    
        <header>
            <div class="logo"><img class="logo" src= "/img/logo-28.png" alt="">
            </div>
            <nav>
                <a href="/"> Botannys Essence </a>
                <a href="/productdetail"> Nuestras Boxes </a>
                <a href="/register"> Registrate </a>
                <a href="/login"> Usuario </a>
                <a href="/productcart"> Carrito </a>
             </nav>
    </header>

    <div class="login">
    <h1>Iniciar Sesión</h1>
    
    <form action="" method="POST">
       
        <div class="email">
        <input type="email" placeholder="Escribe tu email" name="email" id="email" > </div>
        <div class="password">
        <input type="password" placeholder="Escribe tu contraseña" name="password" id="password"></div>
        <div class="otp"><a href="#">¿Olvidaste tu contraseña?</a></div>
        <div class="submit"><button class="btn" type="button">Iniciar Sesión</button></div>
        

    </div>
    <div class="linea"></div>
    <footer>
        <ul class="flex3">
            <li><a href="https://www.instagram.com/botannys_essence/" target="_blank"><i class="fab fa-instagram"></i>  @Botanny's essence </a></li>
        </ul>
        <ul class="flex4">
            <li>| Contacto: +5492615092047 |</li>
            <li> | Contacto: +5492613688713 |</li>
            <li> | Email: botannysessence@outlook.com |</li>
    
        </ul>
    </footer>
</div>
</body>
</html>