<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: "Carrito de Compras"}) %>
<body>
    <%- include('partials/header') %> 
    <div class="containerCart">
        
        <section class="containerProductAdd">
            <h1>Tu carrito</h1>
      
          
        <div class="productCart">
            <div class="cartImg">
                <img src="/images/boc_large_cerrada.jpeg" alt="">
             </div>
            
            <div class="productCartDetail">
                <h2>Nombre del producto</h2>
                <p>$2500</p>
                <label for="cantidad">Cantidad:</label>
                <input id="cantidad" name="cantidad" type="number"min="0" max="100" value="Cantidad:">
            
            </div>    
        </div>    

        </section>
        <section class="bill">
        <div class="billCart">
            <p>Total $2500</p>
            <p>Descuento 20%</p>
            <p>Total con descuento $2000</p>
           
        </div>
          
        </section>
    
        
    </div>    
    <%- include('partials/footer') %>
</body>
</html>