<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: "Detalle de Producto"}) %>

<body class="body">
    <%- include('partials/header') %>
    <div class="principaldetalle">
     

    <section class="general">
    <section class="titulo">
        <h2>Nombre de producto</h2>
    </section>
    
    <section class="imgdesc">
        <div class="imagenes">
        <div class="caja1"><img class="img1" src="/images/boc_large_cerrada.jpeg" alt=""></div>
        <div class="caja2"><img class="img2" src="/images/box_large.jpeg" alt=""></div>
        <div class="caja3"><img class="img3" src="/images/box_medium.jpeg" alt=""></div>
        <div class="caja4"><img class="img4" src="/images/box_small.jpeg" alt=""></div>
        </div>
    
        <div class="descripcion">
        <h2>Descripción</h2><br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam autem sint atque at quas quisquam commodi, dolore delectus? Assumenda autem corporis, fuga natus distinctio voluptatem magnam eum impedit, repellendus esse placeat eveniet voluptate vero iste nostrum? Distinctio, repellendus quis! Ipsam excepturi quae quo doloribus laboriosam officia quam earum incidunt consequatur. Ab commodi repellendus ea quaerat sit perferendis quidem tempore ullam? Quia similique itaque pariatur quasi? Sint tempore earum, amet obcaecati adipisci ratione expedita ullam inventore impedit consectetur rerum neque a? Ducimus at vitae quo nulla, eius reprehenderit dolore commodi deserunt ab sunt dolorum, velit exercitationem non expedita tempora excepturi nemo similique dolores obcaecati aut maiores laudantium harum soluta adipisci. Maiores, temporibus. Exercitationem ullam, quae cupiditate amet nisi quaerat assumenda. Praesentium neque eligendi inventore mollitia? Numquam laborum dolore eius omnis adipisci non consequuntur illo fuga est error, aut corporis temporibus voluptates molestiae similique sapiente tempore iste velit sint consectetur. Nihil, inventore!</p>
        </div>
    </section>

    <section class="pagos">
        <div class="valor"><p class="precio">$500</p></div>
        <div class="cuotas"><p class="formaspago">cuotas</p></div>
        <div class="boton"><button type="submit">Comprar</button></div>
    </section>
    </section>

    <div class="linea"></div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>