<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: "Detalle de Producto"}) %>

<body class="body">
    <%- include('partials/header') %>
    <div class="principaldetalle">
     

    <section class="detalleproducto">
        <section class="cajaizquierda">
           
            
            <div class="imgdetalle">
                <img class="img4" src="/images/box_small.jpeg" alt="">
            </div>
        </section>

        <section class="cajaderecha" >

            <div class="descripcion">
                
                <h2>Nombre de producto</h2>
                
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ut laudantium repellat eligendi quos expedita soluta quas corporis laboriosam atque similique, reiciendis minima cumque accusamus eveniet ad distinctio dicta, qui voluptatum? Cupiditate dignissimos explicabo recusandae inventore sint ab ad consequatur, repellendus, deserunt cumque, ratione porro vel? Tempore quisquam voluptatem non, placeat laboriosam quis, at earum eligendi eius itaque nemo architecto.</p>
            </div>

            
                
                <div class="valor">
                    <p class="precio">$500
                    </p>
                </div>

                <div class="buttonagregarcarrito">
                    <button class="btn" type="submit">Agregar al carrito

                    </button>
                </div>

            
        </section>

        </section>

        
    </section>

    <div class="linea"></div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>