<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: "P치gina de registro"}) %>
<body>
    <%- include('partials/header') %>
     
    <section>
        <h2>Complet치 tus datos</h2>
        </section>
        <section class="registro">
            <div class="formulariocompleto">
        <form>
            <label for="name"></label>
            <input class="formulario" type="name" id="name" name="name" placeholder="Nombre"><br>
           
            <label for="surname"></label>
            <input class="formulario" type="surname" id="surname" name="surname" placeholder="Apellido"><br>
           
            <label for="email"></label>
            <input class="formulario" type="email" id="email" name="email" placeholder="E-mail"><br>
           
            <label for="password"></label>
            <input class="formulario" type="password" id="password" name="password" placeholder="Contrase침a"><br>
           
            <label for="password"></label>
            <input class="formulario" type="password" id="password" name="password" placeholder="Confirmar Contrase침a"><br>

            <input class="formulario" type="submit" value="Crear cuenta">


        </form>
            </div>
        </section>

        <%- include('partials/footer') %>
</body>
</html>