<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: "Registrate"}) %>
<body>
    <%- include('partials/header') %>
     
    <section class="registro">
        <h2>Completá tus datos</h2>
        

        
            <div class="formulariocompleto">
        <form action="" method="POST">
            <div>
            <label for="name"></label>
            <input class="formulario" type="text" id="name" name="name" placeholder="Nombre"><br>
            </div>
            <div>   
            <label for="surname"></label>
            <input class="formulario" type="text" id="surname" name="surname" placeholder="Apellido"><br>
            </div>
            <div>
            <label for="email"></label>
            <input class="formulario" type="email" id="email" name="email" placeholder="E-mail"><br>
            </div>
            <div> 
            <label for="password"></label>
            <input class="formulario" type="password" id="password" name="password" placeholder="Contraseña"><br>
            </div>
            <div>
            <label for="repassword"></label>
            <input class="formulario" type="password" id="repassword" name="repassword" placeholder="Confirmar Contraseña"><br>
            </div>
            <input class="formulario" type="submit" value="Crear cuenta">


        </form>
            </div>
        </section>

        <div class="linea"></div>
        <%- include('partials/footer') %>
</body>
</html>