<footer>
    <nav>
        <a href="/">botannysessence@outlook.com</a>
        <div class="linklogo">
        <a href="https://www.instagram.com/botannys_essence/" class="alink"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="linklogo">
        <a href="https://api.whatsapp.com/send?phone=5491168707833" class="alink"><i class="fab fa-whatsapp"></i></a>
        </div>
        <a href="/"> BUENOS AIRES - ARGENTINA </a>        
     </nav>
</footer>

