<div class="linea"></div>
<footer>
    <ul class="flex3">
        <li><a href="https://www.instagram.com/botannys_essence/" target="_blank"><i class="fab fa-instagram"></i>  @Botanny's essence </a></li>
    </ul>
    <ul class="flex4">
        <li><i class="fas fa-mobile-alt"></i>  +5492615092047</li>
        <li><i class="fas fa-mobile-alt"></i>  +5492613688713</li>
        <li class="em"><i class="far fa-envelope"></i>   botannysessence@outlook.com</li>
 
    </ul>
</footer>