<header>
   
    <nav>
        <a href="/users/register"> Registrate </a>
        <a href="/users/login"> Iniciar Sesión </a>
        <div class="homelogo">
            <a href="/" class="alogo"><i class="fas fa-home"></i></a>
        </div>
       
        <a href="/users/perfil"> Mi Perfil </a>
        <a href="/users/productcart"> Carrito </a>        
     </nav>
</header>