<header>
   
    <nav>
        <a href="/users/register"> Registrate </a>
        <a href="/users/login"> Iniciar Sesión </a>
        <a href="/users/perfil"> Mi Perfil </a>
        <a href="/users/productcart"> Carrito </a>        
     </nav>
</header>