<header>
    <div class="logo"><a title="Home" href="/"><img class="logo" src= "/images/logo-28.png" alt=""></a>
    </div>
    <nav>
        <a href="/productos/productdetail"> Nuestras Boxes </a>
        <a href="/users/register"> Registrate </a>
        <a href="/users/login"> Iniciar Sesión </a>
        <a href="/users/productcart"> Carrito </a>
        <a href="/users/perfil"> Mi Perfil </a>        
     </nav>
</header>