<header>
   
    <nav>

        <% if(typeof usuario == 'undefined' ) {%> 
            <a href="/users/register"> Registrate </a>
            <a href="/users/login"> Iniciar Sesión </a>
            <div class="homelogo">
                <a href="/" class="alogo"><i class="fas fa-home"></i></a>
            </div>
            <a href="/users/productcart"> Mi Perfil </a>      
            <a href="/users/productcart"> Carrito </a>  
        
        <% }else if(usuario.id_rol === 9){ %>    
            <a href="/productos/create"> Crear Producto </a>
            <a href="/users/logOut"> Cerrar Sesión </a>
            <div class="homelogo">
                <a href="/" class="alogo"><i class="fas fa-home"></i></a>
            </div>
            <a href="/users/perfil/<%= usuario.id %>"> Mi Perfil </a>
            <a href="/users/productcart"> Carrito </a> 
             

        <% }else{ %>
            
            
            <a href=""> Bienvenid@ <%= usuario.name %>  </a>
            <a href="/users/logOut"> Cerrar Sesión </a>
            <div class="homelogo">
                <a href="/" class="alogo"><i class="fas fa-home"></i></a>
            </div>
            <a href="/users/perfil/<%= usuario.id %>"> Mi Perfil </a>      
            <a href="/users/productcart"> Carrito </a>

        <% } %> 
     </nav>
</header>