<header>
   
    <nav>

        <% if(typeof usuario == 'undefined' ) {%> 
            <a href="/users/register"> Registrate </a>
            <a href="/users/login"> Iniciar Sesión </a>
            <div class="homelogo">
                <a href="/" class="alogo"><i class="fas fa-home"></i></a>
            </div>     
            <a href="/users/productcart"> Carrito </a>  
            <a href="/users/login"> Mi Perfil </a> 

        <% }else if(usuario.id_rol === "9"){ %>    
            <a href="/productos/create"> Crear Producto </a>
            <a href="/productos/listado"> Listado Productos </a>
            <div class="homelogo">
                <a href="/" class="alogo"><i class="fas fa-home"></i></a>
            </div>
            <a href="/users/perfil/<%= usuario.id %>"> Mi Perfil </a>
            <a href="/users/logOut"> Cerrar Sesión </a> 

        <% }else{ %>
            <div class="homelogo">
                <a href="/" class="alogo"><i class="fas fa-home"></i></a>
            </div>
            
            <a href="/users/perfil/<%= usuario.id %>"> Bienvenid@ <%= usuario.name %>  </a>
            
              
            <a href="/users/productcart"> Carrito </a>
            <a href="/users/logOut"> Cerrar Sesión </a>

        <% } %> 
     </nav>
</header>