<header>
    <div class="logo"><img class="logo" src= "/img/logo-28.png" alt="">
    </div>
    <nav>
        <a href="/"> Botannys Essence </a>
        <a href="/productdetail"> Nuestras Boxes </a>
        <a href="/register"> Registrate </a>
        <a href="/login"> Iniciar Sesión </a>
        <a href="/productcart"> Carrito </a>
     </nav>
</header>